.filtersContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-direction: column;

  @media screen and (min-width: 640px) {
    flex-direction: row;
  }
}

.error {
  color: red;
  margin-top: 10px;
}

.photosContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.loading {
  text-align: center;
  display: flex;
  border-width: 10px;
  margin: 0 auto;
  height: 5rem;
  width: 5rem;
}
