.button {
  background-color: hsl(var(--focus));
  color: white;
  font-weight: 600;
  padding: 1rem 1rem;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;

  &:hover {
    background-color: color-mix(in srgb, hsl(var(--focus)) 90%, black 10%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(var(--focus), 0.2);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
