.photo {
  position: relative;
  border-radius: 12px;
  background: color-mix(in srgb, hsl(var(--background)) 50%, white 50%);
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  @media screen and (prefers-color-scheme: dark) {
    background: color-mix(in srgb, hsl(var(--background)) 80%, black 20%);
  }

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }
}

.photoDetails {
  padding: 10px;

  > p {
    margin: 0;
  }
}

.photoLinks {
  display: flex;
  justify-content: space-between;
}

.photoDate {
  font-size: 0.8rem;
}

.photoDescription {
  font-size: 1.2rem;
  margin-top: 5px;
}

.photoActions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.actionButton {
  font: inherit;
  text-decoration: inherit;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease;
  font-weight: 500;

  &:hover {
    background-color: hsla(var(--primary), 0.1);
  }
}
